    * {
      margin: 0;
      padding: 0;
    }

    body {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      background-color: #d3e7f0;
      font-family: poppins;
      font-size: 20px;
    }

    .container {
      width: 500px;
      height: 350px;
      background-color: #fff;
      border-radius: 0 0 100px 0;
      padding: 30px;
      background-image: url(https://img.icons8.com/nolan/64/flower.png);
      background-size: 100px;
      background-repeat: no-repeat;
      background-position: bottom 20px right 50px;
    }

    input {
      height: 35px;
      width: 100px;
      border: 1px solid #e2e2e2;
      font-size: 20px;
    }

    .types {
      width: 75%;
      display: flex;
      justify-content: space-between;
      padding-bottom: 50px;
      border-bottom: 1px solid;
      border-color: #e2e2e2;
      margin-bottom: 20PX;
    }

    .heading {
      width: 63%;
      display: flex;
      justify-content: space-between;
    }

    .p-month {
      margin-left: 25px;
    }

    span {
      color: #854dff;
    }
  
